.post-content a {
  color: rgb(var(--link));
}

.post-content blockquote {
  border-radius: 2px;
  border-inline-start: 3px solid rgb(var(--border-start));
}

.mermaid {
  display: flex;
  justify-content: center;
}
