:root {
  --toc-width: 250px;
  --nav-width: 1152px;
  --user-p: 39, 55, 80;
  --user-s: 191, 205, 218;
  --link: 68, 191, 239;
  --border-start: 9, 114, 145;
  --border: rgba(var(--border-start), 0.3);
  --secondary: rgb(var(--user-p));
}

.dark {
  --user-p: 191, 205, 218;
  --user-s: 39, 55, 80;
  --border-start: 190, 255, 222;
}
