:root {
  --toc-width: 250px;
  --nav-width: 1152px;
  --user-p: 14, 36, 66;
  --user-s: 221, 229, 235;
  --link: 0, 123, 138;
  --border-start: 108, 171, 221;
  --border: rgb(170, 170, 170);
  --secondary: rgb(var(--user-p));
}

.dark {
  --user-p: 221, 229, 235;
  --user-s: 14, 36, 66;
  --link: 108, 171, 221;
  --border-start: 0, 123, 138;
  --border: rgb(85, 85, 85);
  --secondary: rgb(var(--user-p));
}
