@media screen and (max-width: 1364px) {
  .toc-container {
    display: none !important;
  }
}

.toc-container {
  position: fixed;
  top: calc(var(--header-height) * 2);
  left: calc((100% - var(--gap) * 30) / 2 - var(--toc-width));
  width: var(--toc-width);
  max-height: calc(100% - var(--header-height) * 4);
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.js-toc {
  padding-top: 5px;
}

.toc-title {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  padding-left: 0 !important;
}

.toc-list {
  padding: 0;
}

.toc-link {
  text-decoration: none;
}

.toc-link::before {
  background-color: rgb(var(--user-s)) !important;
}

.toc-list-item {
  padding-left: 10px;
  list-style-type: none;
  color: rgb(var(--user-p));
  overflow: hidden;
  text-overflow: ellipsis;
}

.toc-list-item:hover {
  color: rgb(var(--border-start));
}

.is-active-link::before {
  background-color: rgb(var(--border-start)) !important;
}
