@media screen and (max-width: 1364px) {
  .toc-container {
    display: none !important;
  }
}

.toc-container {
  position: fixed;
  top: 120px;
  left: calc((100% - 864px) / 2 - 250px);
  width: 250px;
  max-height: calc(100% - 240px);
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.js-toc {
  padding-top: 5px;
}

.toc-title {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  padding-left: 0 !important;
}

.toc-list {
  padding: 0;
}

.toc-link {
  text-decoration: none;
}

.toc-link::before {
  background-color: transparent;
}

.toc-list-item {
  padding-left: 10px;
  list-style-type: none;
  color: var(--user-p);
  overflow: hidden;
  text-overflow: ellipsis;
}

.toc-list-item:hover {
  color: var(--border-start);
}

.is-active-link::before {
  background-color: var(--border-start) !important;
}
